html,
body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(24, 170, 170, 0.2) 0%,
    #888cac 99.48%
  );
}
header {
  background: #ffffff;
  border: 2px solid #000000;
  text-align: end;
  margin: 38px 60px 0px 60px;
}
.header-text {
  margin: 3px 55px 3px;
  font-size: 36px;
  font-weight: 200;
  color: #16171a;
}
h1 {
  font-size: 40px;
  margin: 25px 60px 49px;
}
.conteiner {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin: 0px 60px 25px;
}
.contact {
  background-color: #ffffff;
  border: 2px solid #000000;
  width: 200px;
}
.age {
  border: 1px solid #000000;
  margin: 12px 12px 20px 12px;
}
.age-text {
  font-size: 24px;
  font-weight: 700;
  margin-top: 12px;
  margin-left: 12px;
}
.age-number {
  font-size: 48px;
  font-weight: 700;
  margin-left: 103px;
  margin-right: 15px;
}
.phone-number {
  border: 1px solid #000000;
  margin: 0px 12px 20px 12px;
}
.phone {
  margin-top: 12px;
  margin-left: 12px;
}
.number {
  margin: 14px 8px 10px;
  font-weight: 700;
  font-size: 20px;
  color: #16171a;
}
.mail {
  border: 1px solid #000000;
  margin: 0px 12px 20px 12px;
}
.mail-icon {
  margin-top: 12px;
  margin-left: 12px;
}
.gmail {
  font-weight: 700;
  font-size: 10px;
  color: #16171a;
  margin: 18px 9px 18px 8px;
}
.adress {
  border: 1px solid #000000;
  margin: 0px 12px 20px 12px;
}
.icon-country {
  display: flex;
  justify-content: baseline;
  margin-top: 12px;
  margin-left: 12px;
}
.country {
  font-weight: 700;
  font-size: 20px;
  color: #16171a;
  margin: 10px 14px 0px 13px;
}
.city {
  margin: 12px 52px;
  font-weight: 700;
  font-size: 20px;
  color: #16171a;
}
.front-end {
  background: #5178db;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 0px 12px 20px 12px;
}
.front-icon {
  margin: 1px 38px;
}
.social {
  margin: 6px;
}
.social-icon {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}
.information {
  background-color: #ffffff;
  border: 2px solid #000000;
  width: 700px;
}
.profile {
  border: 1px solid #000000;
  margin: 12px 12px 20px 12px;
  padding: 12px;
}
.profile-title {
  font-weight: 700;
  font-size: 24px;
  color: #16171a;
  margin-top: 0px;
  margin-bottom: 9px;
}
.profile-text {
  font-weight: 700;
  font-size: 14px;
  color: #16171a;
  margin-bottom: 0px;
}
.work-conteiner {
  display: flex;
  margin: 0px 12px 20px;
}
.education {
  border: 1px solid #000000;
  padding: 12px;
  width: 328px;
  height: 220px;
}
.edu-title {
  font-weight: 700;
  font-size: 24px;
  color: #16171a;
  margin-top: 0px;
}
.univer {
  color: #16171a;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  margin-top: 59px;
}
.year-univer {
  color: #16171a;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-top: 12px;
}
.work {
  border: 1px solid #000000;
  margin-left: 20px;
  padding: 12px;
  width: 328px;
  height: 220px;
}
.work-title {
  font-weight: 700;
  font-size: 24px;
  color: #16171a;
  margin-top: 0px;
  margin-bottom: 0px;
}
.first-work {
  color: #16171a;
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.year-first-work {
  color: #16171a;
  font-weight: 700;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.master-first-work {
  color: #16171a;
  font-weight: 700;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 0px;
}
.second-work-title {
  display: flex;
}
.second-work {
  color: #16171a;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 12px;
}
.year-second-work {
  color: #16171a;
  font-weight: 700;
  font-size: 14px;
  margin-left: 60px;
  margin-bottom: 0px;
  margin-top: 14px;
}
.master-second-work {
  color: #16171a;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 6px;
}
.skilss {
  border: 1px solid #000000;
  margin: 0px 12px 16px;

  height: 100px;
}
.skilss-title {
  color: #16171a;
  font-weight: 700;
  font-size: 24px;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 10px;
}
.skilss-text {
  display: flex;

  font-weight: 700;
  font-size: 14px;
  margin-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
}
.skilss-text-p1 {
  margin: 0px 51px 0px 0px;
}
.skilss-text-p2 {
  margin: 0px 44px 0px 0px;
}
.skilss-text-p3 {
  margin: 0px 42px 0px 0px;
}
.skilss-text-p4 {
  margin: 0px;
}
.skilss-text-p5 {
  margin: 0px 102px 0px 0px;
}
.skilss-text-p6 {
  margin: 0px 99px 0px 0px;
}
.skilss-text-p7 {
  margin: 0px 97px 0px 0px;
}
.skilss-text-p8 {
  margin: 0px;
}
.lang {
  border: 1px solid #000000;
  margin: 0px 12px 12px;

  height: 80px;
}
.lang-title {
  color: #16171a;
  font-weight: 700;
  font-size: 24px;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 7px;
}
.lang-text {
  display: flex;
  justify-content: space-between;
  padding-left: 124px;
  padding-right: 92px;
  font-weight: 700;
  font-size: 16px;
}
.lang-text-p {
  margin: 0px;
}
.foto {
  border: 2px solid #000000;
  border-radius: 20px;
  width: 200px;
  height: 266px;
}
footer {
  background: #ffffff;
  border: 2px solid #000000;
  margin: 0px 60px 38px;
}
.footer-text {
  margin: 11px 55px 10px;
  font-size: 24px;
  color: #16171a;
}
.name-and-button {
  display: flex;
}
.button {
  background: #5178db;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 439px;
  height: 49px;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}
.text-button {
  margin: 0px;
}

.second-page {
  display: flex;
}
.git-figma-be {
  background-color: #ffffff;
  border: 2px solid #000000;
}
.git {
  border: 1px solid #000000;
  border-radius: 88px;
  width: 176px;
  height: 176px;
}
.figma {
  border: 1px solid #000000;
  border-radius: 88px;
  width: 176px;
  height: 176px;
}
.behance {
  border: 1px solid #000000;
  border-radius: 88px;
  width: 176px;
  height: 176px;
}
.training {
  background: #ffffff;
  border: 2px solid #000000;
}
.training-html-css {
  border: 1px solid #000000;
}
.icon-html-css {
  display: flex;
}
.train-html-css {
  display: flex;
}
.training-js {
  border: 1px solid #000000;
}
.icon-js {
  border: 2px solid #000000;
  height: 100px;
  width: 100px;
}
.train-js {
  display: flex;
}
